[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pickle-mixin = "*"
dash = "*"
dash-labs = "*"
dash-bootstrap-components = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
